<!--
  Author: Ethan Deister
  Filename: experience.html
  File desc: Contains a form for a user to enter information about their job experience.
  Assignment: Job App. Part 2
  -->
<include href="views/header.html"></include>

    <!--Main page content-->
    <div class="container-fluid">
        <div class="row bg-light m-3 p-4 pb-5">
            <h2>Experience</h2>
            <hr>
            <form action="#" method="post" class="row">
                <div class="col-12 col-md-8">
                    <label for="bio" class="form-label"><strong>Biography</strong></label>
                    <textarea class="form-control h-100" name="bio" id="bio"></textarea>
                </div>
                <div class="col-12 col-md-4">
                    <label for="github" class="form-label mt-4 mt-md-0"><strong>GitHub Link</strong></label>
                    <check if="{{ !empty(@SESSION.errors) }}">
                        <true>
                            <check if="{{ !in_array('github',@SESSION.errors) }}">
                                <true>
                                    <input type="text" class="form-control is-valid" name="github" id="github">
                                </true>
                                <false>
                                    <input type="text" class="form-control is-invalid" name="github" id="github">
                                    <div class="invalid-feedback">Please enter a valid GitHub URL.</div>
                                </false>
                            </check>
                        </true>
                        <false>
                            <input type="text" class="form-control" name="github" id="github">
                        </false>
                    </check>
                    <label class="form-label"><strong>Years Experience</strong></label>
                    <br>

                    <check if="{{ !empty(@SESSION.errors) }}">
                        <true>
                            <check if="{{ !in_array('experience',@SESSION.errors) }}">
                                <true>
                                    <repeat group="{{ @SESSION.expData }}" key="{{ @expLevel }}" value="{{ @expValue }}" counter="{{ @ctr }}">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input is-valid" type="radio" name="years" id="{{ @expLevel }}" value="{{ @expValue }}" {{ @ctr==1?'checked':'' }}>
                                            <label class="form-check-label" for="{{ @expLevel }}">0-2</label>
                                        </div>
                                    </repeat>
                                </true>
                                <false>
                                    <repeat group="{{ @SESSION.expData }}" key="{{ @expLevel }}" value="{{ @expValue }}" counter="{{ @ctr }}">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input is-valid" type="radio" name="years" id="{{ @expLevel }}" value="{{ @expValue }}" {{ @ctr==1?'checked':'' }}>
                                            <label class="form-check-label" for="{{ @expLevel }}">0-2</label>
                                        </div>
                                    </repeat>
                                    <br>
                                    <div class="invalid-feedback">Please choose a valid value.</div>
                                </false>
                            </check>
                        </true>
                        <false>
                            <repeat group="{{ @SESSION.expData }}" key="{{ @expLevel }}" value="{{ @expValue }}" counter="{{ @ctr }}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="years" id="{{ @expLevel }}" value="{{ @expValue }}" {{ @ctr==1?'checked':'' }}>
                                    <label class="form-check-label" for="{{ @expLevel }}">0-2</label>
                                </div>
                            </repeat>
                        </false>
                    </check>

                    <br>

                    <label class="form-label"><strong>Willing To Relocate</strong></label>
                    <br>
                    <repeat group="{{ @SESSION.relocData }}" key="{{ @relocID }}" value="{{ @relocValue }}" counter="{{ @ctr }}">
                        <div class="form-check form-check-inline">
                            <!--TODO: Use F3 method to only check the first radio button-->
                            <input class="form-check-input" type="radio" name="reloc" id="{{ @relocID }}" value="{{ @relocValue }}" {{ @ctr==1?'checked':'' }}>
                            <label class="form-check-label" for="{{ @relocID }}">{{ @relocValue }}</label>
                        </div>
                    </repeat>
                    <br>
                    <div class="row">
                        <input type="submit" value="Next>" class="bg-success text-light border-light mx-1 mt-2 p-2 rounded">
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>