<include href="views/header.html"></include>

    <!--Main page content-->
    <div class="container-fluid">
        <div class="row bg-light m-3 p-4 pb-5">
            <h2>Experience</h2>
            <hr>
            <form action="#" method="post" class="row">
                <div class="col-12 col-md-8">
                    <label for="bio" class="form-label"><strong>Biography</strong></label>
                    <input type="text" class="form-control h-100" name="bio" id="bio">
                </div>
                <div class="col-12 col-md-4">
                    <label for="github" class="form-label"><strong>GitHub Link</strong></label>
                    <input type="text" class="form-control" name="github" id="github">
                    <label class="form-label"><strong>Years Experience</strong></label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="entry" id="entry" value="0-2" checked>
                        <label class="form-check-label" for="entry">0-2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="junior" id="junior" value="2-4">
                        <label class="form-check-label" for="junior">2-4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="senior" id="senior" value="4+">
                        <label class="form-check-label" for="senior">4+</label>
                    </div>
                    <label class="form-label"><strong>Willing To Relocate</strong></label>
                </div>
            </form>
        </div>
    </div>

</body>
</html>