<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  Author: Ethan Deister
  Filename: header.html
  File desc: Contains a header to be used on each page of the job application site.
  Assignment: Job App. Part 2
  -->
  <!-- Set charset, set styles.css and bootstrap as stylesheets, set the content to fit
  the device width, and set title-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Job Application</title>
</head>
<body>
<!--Navbar-->
<div class="container-fluid">
  <nav class="navbar mx-2">
    <div>
      <h5><a class="navbar-brand" href="{{ @BASE }}">Innoware Inc.</a></h5>
      <h3>Full Stack Back-end Developer</h3>
      <h4>Bellevue, WA, Pay Range: $100-120k</h4>
    </div>
    <a href="info" class="btn btn-success">APPLY NOW</a>
  </nav>
  <hr>
</div>