<include href="views/header.html"></include>

    <!--Main page content-->
    <div class="container-fluid">
        <div class="row bg-light m-3 p-4">
            <div class="col-12 col-md-6">
                <h2 class="text-center pb-3">Core Responsibilities</h2>
                <hr>
                <p>
                    You will be working primarily with Java - but interfacing with PHP and SQL in addition - to bring
                    our clients' applications into the modern era.
                </p>

                <h2 class="text-center mt-4 pb-3">About Us</h2>
                <hr>
                <p>
                    At Innoware, we are more than just a team of developers; we are innovators, problem solvers,
                    and creators of digital solutions tailored to meet your unique needs. With a passion for technology
                    and a commitment to excellence, we specialize in crafting cutting-edge software that empowers
                    businesses to thrive in the digital age. Whether you're a startup looking to disrupt the market or
                    an established enterprise seeking to streamline operations, our dedicated team is here to
                    collaborate with you every step of the way. From concept to execution, we pride ourselves on
                    delivering high-quality, scalable software that drives tangible results and fosters long-term
                    success. With Innoware, the future of your digital endeavors is bright.
                </p>

                <h2 class="text-center mt-4 pb-3">Meet The Team</h2>
                <hr>
                <p class="ps-3"><i>"At Innoware, we believe in the transformative power of technology to drive
                    innovation and create meaningful impact."</i> - John Smith, CEO</p>
                <p class="ps-3"><i>"Our commitment to excellence is not just a promise but a guiding principle that
                    shapes every line of code we write."</i> - Sarah Johnson, Chief Technology Officer</p>
                <p class="ps-3 pb-3 border-bottom border-secondary-subtle"><i>"In the ever-evolving landscape of technology,
                    adaptability is key. That's why at Innoware, we embrace change and strive to stay ahead of the
                    curve."</i> - David Lee, Chief Innovation Officer</p>

                <div class="text-center"><a href="#" class="btn btn-success">APPLY NOW</a></div>
            </div>
            <!--Image div, disappears for mobile-->
            <div class="col-md-6 d-none d-md-block">
                <img src="images/lobby.jpeg" alt="Our lobby" class="rounded w-100">
            </div>
        </div>

    </div>
</body>
</html>