<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Author: Ethan Deister
    Date: 4/2/24
    Class: SDEV 328
    Assignment: Job App. Part 1
    -->
    <!-- Set charset, set styles.css and bootstrap as stylesheets, set the content to fit
    the device width, and set title-->
    <meta charset="UTF-8">
    <meta name="viewport" conent="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Job Application</title>
</head>
<body>
    <!--Navbar-->
    <div class="container-fluid">
        <nav class="navbar border-bottom">
            <a class="navbar-brand">Innoware Inc.</a>
            <a class="btn btn-success">APPLY NOW</a>
        </nav>
    </div>
</body>
</html>