<!--
  Author: Ethan Deister
  Filename: mailing-list.html
  File desc: Gathers preferences from the user on what mailing lists they want to be added to
  Assignment: Job App. Part 1
  -->
<include href="views/header.html"></include>

    <div class="container-fluid bg-light m-3 p-4">
        <h2>Job Openings Mailing Lists</h2>
        <hr>
        <label class="form-label"><strong>Software Development Jobs</strong></label><br>
        <form action="#" method="post" class="row grid gap-2 p-2">
            <repeat group="{{ @SESSION.jobs }}" key="{{ @jobID }}" value="{{ @jobValue }}" counter="{{ @ctr }}">
                <check if="{{ @ctr % 4 == 1}}">
                    <true>
                        <div class="row">
                    </true>
                </check>
                <check if="{{ !empty(@SESSION.errors['jobs']) }}">
                    <true>
                        <div class="form-check col-3">
                            <input class="form-check-input is-invalid" type="checkbox" name="jobs[]" id="{{ @jobID }}" value="{{ @jobValue }}">
                            <label class="form-check-label" for="{{ @jobID }}">{{ @jobValue }}</label>
                        </div>
                    </true>
                    <false>
                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" name="jobs[]" id="{{ @jobID }}" value="{{ @jobValue }}">
                            <label class="form-check-label" for="{{ @jobID }}">{{ @jobValue }}</label>
                        </div>
                    </false>
                </check>
                <check if="{{ @ctr % 4 == 0}}">
                    <true>
                        </div>
                    </true>
                </check>
            </repeat>
            <label class="form-label"><strong>Industry Verticals</strong></label><br>
            <repeat group="{{ @SESSION.verticals }}" key="{{ @vertID }}" value="{{ @vertValue }}" counter="{{ @ctr }}">
                <check if="{{ @ctr % 4 == 1}}">
                    <true>
                        <div class="row">
                    </true>
                </check>
                <check if="{{ !empty(@SESSION.errors['verticals']) }}">
                    <true>
                        <div class="form-check col-3">
                            <input class="form-check-input is-invalid" type="checkbox" name="verticals[]" id="{{ @vertID }}" value="{{ @vertValue }}">
                            <label class="form-check-label" for="{{ @vertID }}">{{ @vertValue }}</label>
                        </div>
                    </true>
                    <false>
                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" name="verticals[]" id="{{ @vertID }}" value="{{ @vertValue }}">
                            <label class="form-check-label" for="{{ @vertID }}">{{ @vertValue }}</label>
                        </div>
                    </false>
                </check>
                <check if="{{ @ctr % 4 == 0  || @ctr == sizeof(@SESSION.verticals) }}">
                    <true>
                        </div>
                    </true>
                </check>
            </repeat>
            <div class="text-end">
                <input type="submit" value="Next>" class="bg-success text-light border-light w-25 rounded">
            </div>
        </form>

    </div>
</body>
</html>