<include href="views/header.html"></include>

    <div class="container-fluid bg-light m-3 p-4">
        <h2>Job Openings Mailing Lists</h2>
        <hr>
        <form action="#" method="post" class="row grid gap-2 p-2">
            <div class="row">
                <label class="form-label"><strong>Software Development Jobs</strong></label><br>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="JavaScript" id="js" value="js">
                    <label class="form-check-label" for="js">JavaScript</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="php" id="php" value="php">
                    <label class="form-check-label" for="php">PHP</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="java" id="java" value="java">
                    <label class="form-check-label" for="java">Java</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="py" id="py" value="py">
                    <label class="form-check-label" for="py">Python</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="html" id="html" value="html">
                    <label class="form-check-label" for="html">HTML</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="css" id="css" value="css">
                    <label class="form-check-label" for="css">CSS</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="react" id="react" value="react">
                    <label class="form-check-label" for="react">ReactJS</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="node" id="node" value="node">
                    <label class="form-check-label" for="node">NodeJS</label>
                </div>
            </div>
            <div class="row">
                <label class="form-label"><strong>Industry Verticals</strong></label><br>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="saas" id="saas" value="saas">
                    <label class="form-check-label" for="saas">SaaS</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="health" id="health" value="health">
                    <label class="form-check-label" for="health">Health tech</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="ag" id="ag" value="ag">
                    <label class="form-check-label" for="ag">Ag tech</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="hr" id="hr" value="hr">
                    <label class="form-check-label" for="hr">HR tech</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="indus" id="indus" value="indus">
                    <label class="form-check-label" for="indus">Industry tech</label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="checkbox" name="cyber" id="cyber" value="cyber">
                    <label class="form-check-label" for="cyber">Cybersecurity</label>
                </div>
            </div>
            <div class="text-end">
                <input type="submit" value="Next>" class="bg-success text-light border-light w-25 rounded">
            </div>
        </form>

    </div>
</body>
</html>