<include href="views/header.html"></include>

    <!--Main page content-->
    <div class="container-fluid">
        <div class="row bg-light m-3 p-4">
            <h2>Personal Information</h2>
            <hr>
            <form action="#" method="post">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">

                </div>
            </form>
        </div>
    </div>
</body>
</html>