<!--
  Author: Ethan Deister
  Filename: personal-info.html
  File desc: Gathers personal info (name, email, etc.) from user and posts to controller
  Assignment: Job App. Part 1
  -->
<include href="views/header.html"></include>

    <!--Main page content-->
    <div class="container-fluid">
        <div class="row bg-light m-3 p-4">
            <h2>Personal Information</h2>
            <hr>
            <form action="#" method="post" class="row">
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col">
                            <label for="fname" class="form-label"><strong>First Name</strong></label>
                            <check if="{{ !empty(@SESSION.errors) }}">
                                <true>
                                    <check if="{{ !in_array('name',@SESSION.errors) }}">
                                        <true>
                                            <input type="text" class="form-control is-valid" name="fname" id="fname" placeholder="Sarah" required>
                                        </true>
                                        <false>

                                            <input type="text" class="form-control is-invalid" name="fname" id="fname" placeholder="Sarah" required>
                                            <div class="invalid-feedback">Please enter a valid name.</div>
                                        </false>
                                    </check>
                                </true>
                                <false>
                                    <input type="text" class="form-control" name="fname" id="fname" placeholder="Sarah" required>
                                </false>
                            </check>
                        </div>
                        <div class="col">
                            <label for="lname" class="form-label"><strong>Last Name</strong></label>
                            <check if="{{ !empty(@SESSION.errors) }}">
                                <true>
                                    <check if="{{ !in_array('name',@SESSION.errors) }}">
                                        <true>
                                            <input type="text" class="form-control is-valid" name="lname" id="lname" placeholder="Smith" required>
                                        </true>
                                        <false>
                                            <input type="text" class="form-control is-invalid" name="lname" id="lname" placeholder="Smith" required>
                                            <div class="invalid-feedback">Please enter a valid name.</div>
                                        </false>
                                    </check>
                                </true>
                                <false>
                                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Smith" required>
                                </false>
                            </check>
                        </div>
                    </div>
                    <div class="row">
                        <label for="email" class="form-label"><strong>Email</strong></label>
                        <check if="{{ !empty(@SESSION.errors) }}">
                            <true>
                                <check if="{{ !in_array('email',@SESSION.errors) }}">
                                    <true>
                                        <input type="email" class="form-control ms-2 is-valid" name="email" id="email" placeholder="my_email@gmail.com" required>
                                    </true>
                                    <false>
                                        <input type="email" class="form-control ms-2 is-invalid" name="email" id="email" placeholder="my_email@gmail.com" required>
                                        <div class="invalid-feedback">Please enter a valid email.</div>
                                    </false>
                                </check>
                            </true>
                            <false>
                                <input type="email" class="form-control ms-2" name="email" id="email" placeholder="my_email@gmail.com" required>
                            </false>
                        </check>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="state" class="form-label"><strong>State</strong></label>
                            <select class="form-select" name="state" id="state">
                                <!--Using templating even though we haven't covered it yet, just to save time-->
                                <option selected value="{{ @SESSION.default_state }}">{{ @SESSION.default_state }}</option>
                                <repeat group="{{ @SESSION.states }}" value="{{ @state }}">
                                    <option value="{{ @state }}">{{ @state }}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="col">
                            <label for="phone" class="form-label"><strong>Phone</strong></label>
                            <check if="{{ !empty(@SESSION.errors) }}">
                                <true>
                                    <check if="{{ !in_array('phone',@SESSION.errors) }}">
                                        <true>
                                            <input type="text" class="form-control is-valid" name="phone" id="phone" placeholder="222-333-4444" required>
                                        </true>
                                        <false>
                                            <input type="text" class="form-control is-invalid" name="phone" id="phone" placeholder="222-333-4444" required>
                                            <div class="invalid-feedback">Please enter a valid phone number.</div>
                                        </false>
                                    </check>
                                </true>
                                <false>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="222-333-4444" required>
                                </false>
                            </check>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="alert alert-secondary mt-4 p-4 rounded" role="alert"><b>Note:</b> All information entered is protected by our <b>privacy policy.
                        </b> Profile information can only be viewed by others with your permission.</div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Next>" class="bg-success text-light border-light p-2 rounded">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>